@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

html,
body {
  min-height: 100vh;
  font-size: 15px;
  font-family: "Spartan", sans-serif;

  --dark-cyan: hsl(180, 29%, 50%);
  --light-cyan-bg: hsl(180, 52%, 96%);
  --light-cyan-table: hsl(180, 31%, 95%);
  --dark-gray-cyan: hsl(180, 8%, 52%);
  --very-dark-gray-cyan: hsl(180, 14%, 20%);

  --gray: rgb(200, 200, 200);
}

button {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sr-only {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -9999px;
}
